<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.example.androidapp"
      android:versionCode="1"
      android:versionName="1.0">
    <!-- アプリケーション内でブラウザを使用するための指定 -->
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application android:icon="@drawable/tw" android:label="@string/app_name" android:debuggable="true">
        <!-- 初期呼出し -->
        <activity android:name=".TwitterOauth" android:label="@string/Attestation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!--　CallBack後呼出し -->
        <activity android:name=".CallBackActivity" android:label="@string/titleAfterAttestation">
            <intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="com.example.androidapp" android:host="TwitterOauth"/>
			</intent-filter>
        </activity>
        
        <!--　つぶやき画面 -->
        <activity android:name=".TweetActivity" android:label="@string/titleTweet">
		</activity>
		
        <!--　タイムライン画面 -->
        <activity android:name=".TimeLineActivity" android:label="@string/titleTimeline">
		</activity>
		
       	<!--　シンプルゲーム画面 -->
		<activity android:name=".SimpleGameActivity" android:label="@string/simplegameTitle">
		</activity>
		
    </application>
</manifest>